:root {
  --size: 120px;
  --thickness: 12px;
  --bg: #eee;
  --drama: #3498db;
  --komedija: #2ecc71;
  --akcija: #f1c40f;
  --ostali: #e74c3c;
}

.simple-bar-chart {
  --line-count: 10;
  --line-color: currentcolor;
  --line-opacity: 0.25;
  --item-gap: 2%;
  --item-default-color: #060606;
  height: 10rem;
  display: grid;
  grid-auto-flow: column;
  gap: var(--item-gap);
  align-items: end;
  padding-inline: var(--item-gap);
  --padding-block: 1.5rem;
  padding-block: var(--padding-block);
  position: relative;
  isolation: isolate;
}

.simple-bar-chart > .item:hover {
  filter: brightness(1.2);
  transform: scaleY(1.05);
}

.simple-bar-chart::after {
  content: "";
  position: absolute;
  inset: var(--padding-block) 0;
  z-index: -1;
  --line-width: 1px;
  --line-spacing: calc(100% / var(--line-count));
  background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
  box-shadow: 0 var(--line-width) 0 var(--line-color);
  opacity: var(--line-opacity);
}

.simple-bar-chart > .item:hover::after {
  opacity: 1;
}

.simple-bar-chart > .item {
  height: calc(1% * var(--val));
  background-color: var(--clr, var(--item-default-color));
  position: relative;
  animation: item-height 1s ease forwards;
}

@keyframes item-height {
  from {
    height: 0;
  }
}

.simple-bar-chart > .item > * {
  position: absolute;
  text-align: center;
}

.simple-bar-chart > .item > .label {
  inset: 100% 0 auto 0;
}

.simple-bar-chart > .item > .value {
  inset: auto 0 100% 0;
}

body {
  margin: 0;
  padding: 2rem;
  color: #1D1E22;
  background-color: #f0f0f0;
  font-family: system-ui, sans-serif;
  text-align: center;
  padding: 0;
}

header {
    background: #484848;
    color: white;
    padding: 5px;
}

header, footer {
    width: 100%;
    padding: 10px 20px;
    margin: 0; 
    box-sizing: border-box; 
}

header h1, footer p {
    margin: 0;
    text-align: center;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background: #484848;
    color: white;
}

h1 {
    padding-top: 10px;
}

nav {
    text-align: left;
}

ul{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 15px;
}

li.dropdown {
    display: inline-block;
    background-color: #b4b9bc;
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.dropdown-content {
display: none;
position: absolute;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
background-color: #222;
z-index: 1;
border-radius: 10px;
}

.dropdown-content li {
color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
}

.dropdown-content li:hover {background-color: #434242;
text-decoration: none;}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-menu a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1D1E22;
    color: #f0f0f0;
  }
}



/* responzivnost */

@media (max-width: 1200px) {
  nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .dropdown {
        width: auto;
        text-align: center;
    }

    .dropdown-content {
        position: absolute;
        display: none;
        min-width: 160px;
        background-color: #222;
        z-index: 1;
        border-radius: 10px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content li {
        text-align: left;
    }
}

 @media (max-width: 768px) {

    html, body {
        overflow-x: hidden; 
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown {
        width: 100%;
        text-align: center;
    }

    .dropdown-content {
        position: static; 
        width: 100%;
    }

    .dropdown-content li {
        text-align: center;
    }

     .dropdown-content {
        display: none;
    }

    .dropdown:focus-within .dropdown-content {
        display: block;
    }

    .nav-toggle {
        cursor: pointer;
    }

    .nav-toggle:focus {
        outline: none; 
    }

    .dropdown-content li a {
        display: block;
        padding: 12px 16px;
    }
    
}
